.popover {
  width: 330px;
  height: calc(100vh - 120px);

  .popover__header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 48px;

    .header__title {
      font-weight: 600;
    }

    .header__icon {
      position: absolute;
      right: 0;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-14px);
      border-radius: 50%;
      cursor: pointer;
    }

    .header__icon:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    .list__item {
      display: flex;
      align-items: center;
      cursor: pointer;
      column-gap: 8px;
      padding: 8px;
      border-radius: 8px;

      .list__icon-container {
        background-color: rgb(230, 0, 35);
        height: 48px;
        min-width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        fill: #fff;
      }

      .list__item__text {
        font-weight: 600;
      }

      .list__icon--grey {
        background-color: rgb(223, 222, 222);
        fill: rgb(17, 17, 17);
      }

      .list__item__text-container {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
      }

      .list__item__subtext {
        color: rgb(118, 118, 118);
        font-weight: 300;
      }
    }

    .list__item:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }

    .list__search {
      border-radius: 24px;
      border: 2px solid rgb(205, 205, 205);
      background-color: #fff;
      height: 48px;
      display: flex;
      align-items: center;
      padding: 8px 40px 8px 0;
      fill: rgb(118, 118, 118);
      column-gap: 8px;
      cursor: pointer;

      .list__search__icon {
        margin-left: 16px;
      }

      .list__search__input {
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      .list__search__input::placeholder {
        font-weight: 300;
      }
    }

    .list__search--focused {
      .list__search__input {
        margin-left: 16px;
      }
    }

    .list__search:hover {
      border-color: rgb(165, 165, 165);
    }
  }
}
