.container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 600;
  width: fit-content;
  padding: 8px;
  border-radius: 999px;
  cursor: pointer;
  min-width: fit-content;
}

.container:hover {
  background-color: rgb(226, 226, 226);
}
