.navbar {
  background-color: #fff;
  z-index: 1;

  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;

  .background {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    transition: box-shadow 300ms ease-in-out 0s;
    z-index: 2;
    background-color: #fff;
    padding: 0 24px;
    height: 100%;
  }

  .burger-menu {
    margin-right: 16px;
  }

  .search {
    min-width: 320px;
    margin-right: 4px;
  }

  .nav-btn {
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    fill: rgb(118, 118, 118);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-btn:hover {
    background-color: rgb(241, 241, 241);
  }

  .profile-container {
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;

    .profile {
      background-color: rgb(241, 241, 241);
      font-size: 12px;
      font-weight: 600;
      padding: 8px;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .profile-container:hover {
    background-color: rgb(241, 241, 241);
  }

  .settings-btn {
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    fill: rgb(118, 118, 118);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .settings-btn:hover {
    background-color: rgb(241, 241, 241);
  }
}

.navbar--sticky {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px;
}
